
@font-face {
  font-family: 'AXIS-ExtraBold';
  src: url('/fonts/AXIS-ExtraBold.eot');
  src: url('/fonts/AXIS-ExtraBold.woff2') format('woff2'),
  url('/fonts/AXIS-ExtraBold.woff') format('woff'),
  url('/fonts/AXIS-ExtraBold.ttf') format('truetype'),
  url('/fonts/AXIS-ExtraBold.svg#AXIS-ExtraBold') format('svg'),
  url('/fonts/AXIS-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
